{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
        <div class="row  offset-1" style="margin-left:14%" >
            <div class="col-3">
                <a href="{% url 'registration_register' %}">
                    <button type="button" class="btn btn-secondary col-3 offset-11">{% trans 'Sign Up' %}
                    </button>
                </a>
            </div>
            <div class="offset-1">
                <button type="submit" class="btn btn-dark" style="width:200px">{% trans 'Sign In' %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
