{% load i18n %}
{% load static %}
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="img/footer_logo.png" alt="">
                            </a>
                        </div>
                        <p>{% trans '5th flora, 700/D kings road, green <br> lane New York-1782' %} <br>
                            <a href="#">+10 367 826 2567</a> <br>
                            <a href="#">contact@carpenter.com</a>
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/burik0112/?hl=ru">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% trans 'Company' %}
                        </h3>
                        <ul class="links">
                            <li><a href="#">{% trans 'Pricing' %}</a></li>
                            <li><a href="#">{% trans 'About' %}</a></li>
                            <li><a href="#"> {% trans 'Gallery' %}</a></li>
                            <li><a href="#"> {% trans 'Contact' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% trans 'Destination' %}
                        </h3>
                        <ul class="links double_links">
                            <li><a href="#">{% trans 'Indonesia' %}</a></li>
                            <li><a href="#">{% trans 'America' %}</a></li>
                            <li><a href="#">{% trans 'India' %}</a></li>
                            <li><a href="#">{% trans 'Switzerland' %}</a></li>
                            <li><a href="#">{% trans 'Italy' %}</a></li>
                            <li><a href="#">{% trans 'Canada' %}</a></li>
                            <li><a href="#">{% trans 'France' %}</a></li>
                            <li><a href="#">{% trans 'England' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% trans 'Instagram' %}
                        </h3>
                        <div class="instagram_feed">
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/1.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/2.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/3.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/4.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/5.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/6.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>