{% load static %}
{% load i18n %}
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li class="{% if request.path == '/' %}active{% endif %}">
                                            <a href="{% url 'pages:home' %}">{% trans 'Home'%}</a>
                                        </li>
                                        <li class="{% if request.path == '/destinations/' %}active{% endif %}">
                                            <a href="{% url 'destinations:list' %}">{% trans 'Destinations'%}</a>
                                        </li>
                                            <li class="{% if request.path == '/about/' %}active{% endif %}">
                                                <a href="{% url 'pages:about' %}">{% trans 'About'%}</a>
                                            </li>
                                            <li class="{% if request.path == '/blog/' %}active{% endif %}">
                                                <a href="{% url 'posts:list' %}">{% trans 'Blog'%}</a>
                                            </li>
                                        <li class="{% if request.path == '/contact/' %}active{% endif %}">
                                            <a href="{% url 'pages:contact' %}">{% trans 'Contacts'%}</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                            <div class="social_wrap">
                                <div  style="margin-right: -100px " class="social_links  d-xl-block">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                        <li><a href="{% url 'pages:login'%}"> <i class="fa fa-google-plus"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form action="{% url 'destinations:list' %}">
                            <input name="q" style="margin-left: -200px ;width: auto" class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>