{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>{% trans 'Indonesia'%}</h3>
                            <p>{% trans 'Pixel perfect design with awesome contents'%}</p>
                            <a href="{% url 'destinations:list' %}" class="boxed-btn3">{% trans 'Explore Now'%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>{% trans 'Australia'%}</h3>
                            <p>{% trans 'Pixel perfect design with awesome contents'%}</p>
                            <a href="{% url 'destinations:list' %}" class="boxed-btn3">{% trans 'Explore Now'%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>{% trans 'Switzerland'%}</h3>
                            <p>{% trans 'Pixel perfect design with awesome contents'%}</p>
                            <a href="{% url 'destinations:list' %}" class="boxed-btn3">{% trans 'Explore Now'%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>{% trans 'Where you want to go?'%}</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" action="#">
                        <div class="input_field">
                            <input type="text" placeholder="{% trans 'Where to go'%}?">
                        </div>
                        <div class="search_btn">
                            <button class="boxed-btn4 " type="submit" style="margin-left: -70px">{% trans 'Search'%}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- where_togo_area_end  -->

<!-- popular_destination_area_start  -->
<div class="popular_destination_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>{% trans 'Popular Destination'%}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for home in homes %}
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="{{ home.img.url }}" alt="">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">{{home.title}} <a href="travel_destination.html"> 07 Places</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- popular_destination_area_end  -->

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>{% trans 'Popular Places'%}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for place in places%}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{place.img.url}}" alt="">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="destination_details.html"><h3>{{place.title}}</h3></a>
                        <div class="rating_days d-flex justify-content-between">
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{place.created_at| date:'d. M Y'}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="more_place_btn text-center">
                    <a class="boxed-btn4" href="{% url 'destinations:list' %}">{% trans 'More Places'%}</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="video_area video_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video_wrap text-center">
                    <h3>{% trans 'Enjoy Video'%}</h3>
                    <div class="video_icon">
                        <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=f59dDEk57i0">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="travel_variation_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="{% static 'img/svg_icon/1.svg'%}" alt="">
                    </div>
                    <h3>{% trans 'Comfortable Journey'%}</h3>
                    <p>{% trans 'A wonderful serenity has taken to the possession of my entire soul.'%}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="{% static 'img/svg_icon/2.svg'%}" alt="">
                    </div>
                    <h3>{% trans 'Luxuries Hotel'%}</h3>
                    <p>{% trans 'A wonderful serenity has taken to the possession of my entire soul.'%}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="{% static 'img/svg_icon/3.svg'%}" alt="">
                    </div>
                    <h3>{% trans 'Travel Guide'%}</h3>
                    <p>{% trans 'A wonderful serenity has taken to the possession of my entire soul.'%}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- testimonial_area  -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="{% static 'img/testmonial/author.png'%}" alt="">
                                    </div>
                                    <p>{% trans 'Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.'%}</p>
                                    <div class="testmonial_author">
                                        <h3>{% trans '- Micky Mouse'%}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="{% static 'img/testmonial/author.png'%}" alt="">
                                    </div>
                                    <p>{% trans '"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.'%}</p>
                                    <div class="testmonial_author">
                                        <h3>- {% trans 'Tom Mouse'%}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="{% static 'img/testmonial/author.png'%}" alt="">
                                    </div>
                                    <p>{% trans '"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.'%}</p>
                                    <div class="testmonial_author">
                                        <h3>{% trans '- Jerry Mouse'%}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->


<div class="recent_trip_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>{% trans 'Recent Trips'%}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for trip in trips%}
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="{{trip.img.url}}" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>{{trip.created_at| date:'d F Y'}}</span>
                        </div>
                        <a href="{% url 'posts:list' %}">
                            <h3>{% trans 'Journeys Are Best Measured In New Friends'%}</h3>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>
{% endblock%}